[submodule "include/nginx"]
	path = include/nginx
	url = https://github.com/saltstack-formulas/nginx-formula.git
[submodule "include/postgres"]
	path = include/postgres
	url = https://github.com/saltstack-formulas/postgres-formula.git
[submodule "include/letsencrypt-formula"]
	path = include/letsencrypt-formula
	url = https://github.com/saltstack-formulas/letsencrypt-formula.git
